@page "/"
@inherits BaseIndex

<div 
    class="universe" 
    style="@Universe.CssStyle(MyCell)"
    @onmousemove="@TrackMouse"
>
    <div 
        class="world" 
        style="@Universe.World.CssStyle(MyCell)"
    >
        @foreach (var element in Universe.World.Elements )
        {
            <div class="@element.CssClass"
                style="@element.CssStyle(MyCell)">
            </div>
        }
    </div>
</div>
