@page "/"
@inherits BaseIndex

<div 
    class="universe" 
    style="@Universe.CssStyle(Player)"
    @onmousemove="@TrackMouse"
    @onmousewheel="@MouseWheel"
>
    <div 
        class="world" 
        style="@Universe.World.CssStyle(Player)"
    >
        @foreach (var element in VisibleElements )
        {
            <div class="@element.CssClass"
                style="@element.CssStyle(Player)">
            </div>
        }

        @if ( Player.Cell == null )
        {
            <div style="@Player.FormCss">
            <input type="text" style="position:absolute; top:0; left:-100px; width: 350px;" bind-value="Player.Name">
            <input type="button" style="position:absolute; top:0; left:-150px; width:50px;" value="Play!" onclick="@Player.Play">
            </div>
        }

    </div>

    <div class="scoreboard">
        <span style="color:green;">#BLAGARIO</span>
    </div>

</div>
