@page "/"
@inherits BaseIndex

<div 
    class="universe" 
    style="@Universe.CssStyle(Player)"
    @onmousemove="@TrackMouse"
    @onmousewheel="@MouseWheel"
>
    <div 
        class="world" 
        style="@Universe.World.CssStyle(Player)"
    >
        @foreach (var element in VisibleElements )
        {
            <div class="@element.CssClass"
                style="@element.CssStyle(Player)">
            </div>
        }
    </div>

    <div class="scoreboard">
        <span style="color:green;">#BLAGARIO</span>
    </div>

</div>
